* { 
    margin: 0; 
    padding: 0;  
}
body{
    background-color: white;
}

h1{
    color: white;
    display: inline-block;
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.logo{
    display: inline-block;
}

.logo-pb{
    display: inline-block;
    right: 0px;
    width: 200px;
    height: 70px;
    right: 0px;
}

.header{
    background-color: #1e3a8a;
    margin-bottom: 0px;
}

.nav{
    position: sticky;
    top: 0px;
    background-color: #2563eb;
    height: 30px;
    gap: 10px;
}

.links{
    margin-top: 4px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

