main{
    margin: 30px;
    margin-left: 10%;
    margin-right: 10% ;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.img{
    display: inline-block;
    margin-top: 20px;
    height: 80%;
    max-width: 100%;
}

.quadro-avisos{
    display: inline-block;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 0px;
}
.aviso{
    padding: 25px;
    margin: 10px 0px 40px 0px;
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    text-align: center;
}